bin/*
.vs/BajanVincyAssembly/v16/.suo
.vs/BajanVincyAssembly/v16/Server/sqlite3/db.lock
.vs/BajanVincyAssembly/v16/Server/sqlite3/storage.ide
.vs/BajanVincyAssembly/v16/Server/sqlite3/storage.ide-shm
.vs/BajanVincyAssembly/v16/Server/sqlite3/storage.ide-wal
obj/*
packages/*
